<div class="flex justify-between">
    <span>My Projects</span>
    <a role="button" href="/addProject" class="bg-red-600 hover:bg-red-700 text-white text-sm px-4 py-2  border rounded-full">
        Add Project
    </a>
</div>